{% extends 'base.html' %}
{% block content %}
<!-- {% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script> -->

<style>
    * {

        font-family: "Gill Sans", sans-serif;
        color: white;
    }

    .list {
        background-color: rgb(29, 29, 29);
    }

    .overview {
        background-color: black;
    }

    .searchbar,
    .overview .bar {
        align-items: center;
        display: flex;
        justify-content: space-between;
        /* padding: 1rem .8rem; */
    }

    .searchbar .btn {
        width: 5vw;
        background-color: rgb(28, 117, 233);
        font-size: 1vw;
        color: rgb(255, 255, 255);
    }

    .table .bold {
        font-size: 1rem;
        font-weight: 600;
    }

    .table tr:hover {
        background-color: rgb(19, 19, 19);
    }

    .overview .bar .btn {
        background-color: rgb(238, 164, 27);
        color: #ffff;
        padding: .3rem .3rem;
        align-items: center;
    }

    .overview .bar .btn:hover,
    .overview .bar .btn i:hover {
        background-color: rgb(182, 180, 178);
        color: #000000;
    }

    .p-name {
        height: 2.5vw;
    }

    #div-to-pdf label {
        color: #5f5f5f;
    }

    #div-to-pdf {
        padding: 0 1rem;
    }

    #div-to-pdf .bold {
        font-size: 1rem;
        /* font-weight: 600; */
    }
</style>
<section>
    <div class="row p-3">
        <div class="list col-4 col-lg-4 col-md-3  col-sm-2 py-3">
            <div class="header">
                <h5>EMPLOYEES</h5>
            </div>
            <div class="searchbar">
                <input class="form-control" type="text" placeholder="Search by Name" name="search" id="search"
                    onkeyup="searchFunction()"
                    style="color: rgb(255, 255, 255);background: transparent;margin-right: 5px;">
                <a class="btn btn-outline-primary mx-1" href=""><i class="fa fa-filter"></i></a>
                <a class="btn btn-outline-primary mr-1" href="{% url 'payroll_create' %}"><i class="fa fa-plus"></i></a>
            </div>
            <hr>
            <table class="table table-borderless" id="mytable">
                {% for i in pay %}
                <tr class='clickable-row' data-href="{% url 'payroll_view' i.id %}">
                    <td class="pt-2">
                        <p class="bold">{{ i.name}}</p>
                        <p class="text-secondary">{{ i.joindate}}</p>

                    </td>
                    <td class="pt-2 text-secondary">{{ i.salary}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="overview col-8 col-lg-8 col-md-9  col-sm-10 py-3">
            <div id="overview">
                <div class="p-name">
                    <h3 class="px-2 pb-2" id="id1">{{p.name}}</h3>
                </div>

                <div class="bar pt-3">
                    <div class="left">
                        <a class="btn mx-1" href="#home">Overview</a>
                    </div>
                    <div class="right">
                        <a class="btn ml-1" href="{% url 'payroll_edit' p.id %}"><i class="fas fa-edit"></i></a>
                        <a class="btn ml-1" href="" onclick="pdfDownload()"><i class="mdi mdi-printer"></i></a>
                        <a class="btn ml-1" href="{% url 'file_download' p.id %}"><i class="fas fa-download"></i></a>
                        <a class="btn ml-1" href="{% url 'payroll_delete' p.id %}"><i class="fa fa-trash"></i></a>
                        <a class="btn ml-1" href=""><i class="far fa-comment"></i></a>
                        <label for="file-input" class="btn ml-1 border-0">
                            <i class="fas fa-paperclip"></i>
                        </label>
                        <input id="file-input" type="file" name="file" style="display:none;" onchange="uploadFile()">
                        <a class="btn ml-1" href="{% url 'payroll_active' p.id %}" id="sts">{{p.status}}</a>
                    </div>
                </div>
                <hr>
                <div id="div-to-pdf" class="div-to-pdf">
                    <div class="row px-2">
                        <div class="col-8 col-lg-8 col-md-6 col-sm-12">
                            <div class="row my-2">
                                <div class="col-6">
                                    <label for="">Name</label>
                                    <p class="bold">{{p.name}}</p>
                                </div>
                                <div class="col-6">
                                    <label for="">Alias</label>
                                    <p class="bold">{{p.alias}}</p>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-6">
                                    <label for="">Designation</label>
                                    <p class="bold">{{p.designation}}</p>
                                </div>
                                <div class="col-6">
                                    <label for="">Gender</label>
                                    <p class="bold">{{p.joindate}}</p>
                                </div>
                            </div>
                            <div class="row  my-2">
                                <div class="col-6">
                                    <label for="">Email</label>
                                    <p class="bold">{{p.email}}</p>
                                </div>
                                <div class="col-6">
                                    <label for="">Join date</label>
                                    <p class="bold">{{p.gender}}</p>
                                </div>
                            </div>
                            <div class="row  my-2">
                                <div class="col-6">
                                    <label for="">Phone Number</label>
                                    <p class="bold">{{p.Phone}}</p>
                                </div>
                                <div class="col-6">
                                    <label for="">Date of Birth</label>
                                    <p class="bold">{{p.dob}}</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-4 col-lg-4 col-md-6 col-sm-12 p-3">
                            <a href="{% url 'img_download' p.id %}" download>
                                <img class="img-fluid" src="{{p.image.url}}" alt="" height="200px"
                                    style="border-radius: 1rem;">
                            </a>
                        </div>
                    </div>
                    <div class="row px-2 my-2">
                        <div class="col-4 col-lg-4 col-md-6 col-sm-12">
                            <label for="">Employee Number</label>
                            <p class="bold">{{p.emp_number}}</p>
                        </div>
                        <div class="col-4 col-lg-4 col-md-6 col-sm-12">
                            <label for="">Salary</label>
                            <p class="bold">{{p.salary}}</p>
                        </div>
                        <div class="col-4 col-lg-4 col-md-6 col-sm-12">
                            <label for="">Location</label>
                            <p class="bold">{{p.location}}</p>
                        </div>
                    </div>
                    <div class="row px-2 my-2">
                        <div class="col-4 col-lg-4 col-md-6 col-sm-12">
                            <label for="">Blood Group</label>
                            <p class="bold">{{p.blood}}</p>
                        </div>
                        <div class="col-4 col-lg-4 col-md-6 col-sm-12">
                            <label for="">Mother/Father Name</label>
                            <p class="bold">{{p.parent}}</p>
                        </div>
                        <div class="col-4 col-lg-4 col-md-6 col-sm-12">
                            <label for="">Spouse Name</label>
                            <p class="bold">{{p.spouse_name}}</p>
                        </div>
                    </div>
                    <div class="row px-2 my-2">
                        <div class="col-4 col-lg-4 col-md-6 col-sm-12">
                            <label for="">Address</label>
                            <p class="bold">{{p.address}}</p>
                        </div>

                    </div>
                    <h4 class="text-center py-2">Statutary information</h4>
                    <hr>
                    <div class="row px-2 my-2">
                        <div class="col-4 col-lg-4 col-md-6 col-sm-12">
                            <label for="">Aadhar Number</label>
                            <p class="bold">{{p.Aadhar}}</p>
                        </div>
                        <div class="col-4 col-lg-4 col-md-6 col-sm-12">
                            <label for="">Income Tax Number</label>
                            <p class="bold">{{p.ITN}}</p>
                        </div>
                        <div class="col-4 col-lg-4 col-md-6 col-sm-12">
                            <label for="">Universal Account Number(UAN)</label>
                            <p class="bold">{{p.UAN}}</p>
                        </div>
                    </div>
                    <div class="row px-2 my-2">
                        <div class="col-4 col-lg-4 col-md-6 col-sm-12">
                            <label for="">PF Account Number(PFN)</label>
                            <p class="bold">{{p.PFN}}</p>
                        </div>
                        <div class="col-4 col-lg-4 col-md-6 col-sm-12">
                            <label for="">PR Account Number(PRAN)</label>
                            <p class="bold">{{p.PRAN}}</p>
                        </div>
                        <div class="col-4 col-lg-4 col-md-6 col-sm-12">
                            {% if p.isTDS == 'Percentage' %}
                            <label for="">TDS %</label>
                            <p class="bold">{{p.TDS}}</p>
                            {% elif p.isTDS == 'Amount' %}
                            <label for="">TDS amount</label>
                            <p class="bold">{{p.TDS}}</p>
                            {% else %}
                            <label for="">TDS </label>
                            <p class="bold">nill</p>
                            {% endif %}
                        </div>
                    </div>
                    {% for bank in b %}
                    <div class="bank-div"
                        style="background-color: rgba(131, 110, 53, 0.479); border-radius: 20px; padding: 1rem;">
                        <h4 class="text-center py-2">Bank Details</h4>
                        <hr>
                        <div class="row px-2 my-2">
                            <div class="col-6 col-lg-6 col-md-6 col-sm-12">
                                <label for="">Account NUmber</label>
                                <p class="bold">{{bank.acc_no}}</p>
                            </div>
                            <div class="col-6 col-lg-6 col-md-6 col-sm-12">
                                <label for="">Bank</label>
                                <p class="bold">{{bank.bank_name}}</p>
                            </div>
                        </div>
                        <div class="row px-2 my-2">
                            <div class="col-6 col-lg-6 col-md-6 col-sm-12">
                                <label for="">IFSC</label>
                                <p class="bold">{{bank.IFSC}}</p>
                            </div>
                            <div class="col-6 col-lg-6 col-md-6 col-sm-12">
                                <label for="">Branch Name</label>
                                <p class="bold">{{bank.branch}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</section>
<script>
    // async function pdfDownload(){
    //     const pdfElement = document.getElementById("div-to-pdf");
    //     const doc = new jsPDF('l','pt');
    //     await html2canvas(pdfElement,{
    //         width:550
    //     }).then((canvas) =>{
    //         doc.addImage(canvas.toDataURL("image/png"), 'PNG',5,5,500,200);
    //     })
    //     doc.save("document.pdf")

        // domtoimage.toPng(pdfElement)
        //     .then(function (dataUrl) {
        //         doc.addImage(dataUrl, 'PNG', 10, 10, 190, 150); 
        //         // You can adjust the position and size of the image
        //         doc.save("output.pdf");
        //     })
        //     .catch(function (error) {
        //         console.error('Error generating PDF: ', error);
        //     });
    // }
    
</script>

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Check if the cookie name matches the CSRF cookie name
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function uploadFile() {
        const fileInput = document.getElementById("file-input");
        const file = fileInput.files[0];
        const csrfToken = getCookie('csrftoken')

        const formData = new FormData();
        formData.append("file", file);

        fetch("/payroll_file/{{p.id}}", {
            method: "POST",
            headers: { 'X-CSRFToken': csrfToken },
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                // Handle the response from the server (if needed)
                console.log(data);
            })
            .catch(error => {
                console.error("Error:", error);
            });
    }


    function pdfDownload(){
    //     const pdfElement = document.querySelector(".div-to-pdf");
    //     const doc = new jsPDF();
    //     const content = pdfElement;
    //     const options = {
    //         margin: 10,
    //         filename: "output.pdf",
    //         image: { type: "jpeg", quality: 0.98 },
    //         html2canvas: { scale: 2 },
    //         jsPDF: { unit: "mm", format: "a4", orientation: "portrait" }
    //     };

    //     doc.html(content, options);
    //     doc.save();
    // }
        var selectedArea = document.getElementById("div-to-pdf");


        var printWindow = window.open('', 'PrintWindow', 'height=800,width=800');


        printWindow.document.write('<html><head><title>Print Selected Area</title></head><body>' + selectedArea.innerHTML + '</body></html>');


        printWindow.print();    


        printWindow.close();
    }


    // function downloadDivContent() {
    //         var a = document.body.appendChild(
    //            document.createElement("a")
    //         );
    //        a.download = "newfile.pdf";
    //        a.href = "data:application/pdf," + document.getElementById("pdf").innerHTML;
    //        a.click(); //Trigger a click on the element
    //     }
</script>



<script>

    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    });

    function searchFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        table = document.getElementById("mytable");
        tr = table.getElementsByTagName("tr");
        // input.style.borderColor = "green";
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                }
                else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

{% endblock %}

<!-- edit com attach dele active/inactive -->